.featured-products-items-img-0{
  background-image: url("../imgs/CAn-ACC-RCCN-2.5TL-CN-N-HI.jpg");
}
.featured-products-items-img-1{
  background-image: url("../imgs/CAn-ACS-RCSH-2.5TL-CN-N-HI.jpg");
}
.featured-products-items-img-2{
  background-image: url("../imgs/CAn-CBC-SVC-2.5TL-CN-N-HI.jpg");
}
.featured-products-items-img-3{
  background-image: url("../imgs/CAn-KRC-CBV-2.5TL-CN-N-HI.jpg");
}
.featured-products-items-img-4{
  background-image: url("../imgs/CAn-KRS-KSH-2.5TL-CN-N-HI.jpg");
}
.featured-products-items-img-5{
  background-image: url("../imgs/CAn-LCS-CPS-2.5TL-CN-N-HI.jpg");
}
.featured-products-items-img-6{
  background-image: url("../imgs/CAn-MAC-ARC-2.5TL-CN-N-HI.jpg");
}
.featured-products-items-img-7{
  background-image: url("../imgs/CAn-RCS-GSS-2.5TL-CN-N-HI.jpg");
}

/*
font-family: 'Khula', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Comfortaa', cursive;
font-family: 'Nunito Sans', sans-serif;
font-family: 'BenchNine', sans-serif;
font-family: 'Gudea', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Sarala', sans-serif;
font-family: 'Antic Slab', serif;
font-family: 'Advent Pro', sans-serif;
font-family: 'Antic', sans-serif;
*/
